*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: rgb(19, 19, 49);
    color: blanchedalmond;
    font-size: 2rem;
    height:4rem;
    line-height: 4rem;

}
.choice{
    height:200px;
    width:200px;
    display:flex;
    justify-content:center ;
    align-items: center;

}
.choice:hover{
    cursor:pointer;
    opacity: 50%;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 500px;
    margin-top: -8rem;
}
.choices{
    display:flex;
    justify-content:center ;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}

.scoreboard{
    display:flex;
    justify-content:center ;
    align-items: center;
    gap:5rem;
    font-size: 1rem;
    margin-top: -3rem;
}

#user-score{
    font-size: 2rem;
}
#comp-score{
    font-size: 2rem;
}
.msg-container{
    margin-top:3rem;
}
#msg{
    margin-top: 1rem;
    font-weight: 300;
    font-size: 2rem;
    background-color:rgb(19, 19, 49) ;
    color: blanchedalmond;
    display:inline;
    padding:1rem;
    border-radius: 5rem;
}
#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  margin-top:2rem;
}
